.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #5943c3;
  color: #f7f6f6;
  padding: 25px 0;
}

.navIcon {
  margin: 0 40px;
  flex-flow: 1;
}

.navTitle {
  text-align: left;
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 25px;
}
