.navBar {
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 30px;
  justify-items: center;
  align-items: center;

  background-color: #5943c3;
  color: #f7f6f6;
  padding: 25px 0;
}

.navIcon {
  grid-column: 1;
  cursor: pointer;
  justify-self: end;
}

.navTitle {
  grid-column: 2;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
}
